*.pyc
*~
.DS_Store
.ipynb_checkpoints
.sass-cache
__pycache__
_site
*.dat
*.png
*.aux
*.log
*.pdf
*.bbl
*.blg
/code/10-latex-example/*.head
/code/10-latex-example/file_list.tex
/code/10-latex-example/results.tex
