*.pyc
*~
.DS_Store
.ipynb_checkpoints
.sass-cache
__pycache__
_site
*.dat
*.png
*.aux
*.log
*.pdf
/code/09-conclusion-challenge-3/results.txt
/code/09-conclusion-challenge-3/zipf_analysis*
/code/09-conclusion-challenge-3/file_list.tex
/code/09-conclusion-challenge-3/report.bbl
/code/09-conclusion-challenge-3/report.blg
/code/09-conclusion-challenge-3/results.tex
